table{
    border: 5px outset;
    background-color:rgb(136, 214, 187);
    border-spacing: 0cm;

}

th{
    border: 1px outset rgb(59, 133, 251);
    text-align: center;
    background-color:darkslategrey;
    color:rgb(136, 214, 187);
    
}

td{
    border: 1px outset rgb(59, 133, 251);
    
}

#Sombreado{
    background-color:rgb(115, 180, 157);
}

.text-center{
    text-align: center;
}